body{
    background-color: rgb(173, 129, 129);
}

header{
    background-color: white;
}

main{
    background-color: yellow;
}


div{
    background-color: red;
}


footer{
    background-color: green;
}